#root {
  width: 100vw;
}

.code {
  text-align: left;
  //background-color: #4997e4 !important;
}

.justify {
  text-align: justify;
}

.right {
  text-align: right;
}

.pClose {
  line-height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.single_doc:hover {
  //background-color: #e1e1e1;
}

.internal_references {
  .internal_references {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
  }
}

.phone-container {

}

.table-of-contents {
  width: 100%;
  max-width: 400px;
  //background-color: black;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eeeeee;
  border-radius: 12px;

  .single {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 5px;
        text-decoration: none;
        //border: none!important;
        a {
          border: none !important;
        }
      }
    }

    .item.header {
      line-height: 100%;
      margin: 0;
      padding: 20px;
    }

    .item {
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid #eeeeee !important;
    }

    li.item:hover {
      background-color: #eeeeee;
      cursor: pointer;
    }
  }
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;

  &.alert-experimental {
    text-align: center;
    padding: 10px 5px;
    background-color: orange;
    color: white !important;
    line-height: 200%;
    border: 1px solid darkorange;
    border-radius: 10px;
  }
}

@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css";
@import "assets/css/main.css";
