#root{
  width: 100vw;
}

.code{
  text-align: left;
  //background-color: #4997e4 !important;
}

.justify{
  text-align: justify;
}

.right{
  text-align: right;
}

.pClose{
  line-height: 100%;
  margin:0;
  padding:0;
  margin-bottom: 4px;
}

.single_doc:hover{
  //background-color: #e1e1e1;
}

.internal_references{
  .internal_references{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
  }
}

.phone-container{

}


@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css";
@import "assets/css/main.css";
